# 端口号
port 6382
# 绑定ip
bind 0.0.0.0
# redis-cli访问密码
requirepass 123456
# 访问主节点密码
masterauth 123456
# 保护模式，默认是yes，开启保护模式
protected-mode no
# 是否守护模式，docker方式不需要
daemonize no
# 是否开启AOF持久化模式
appendonly yes
# 是否开启集群模式
cluster-enabled yes
# 集群节点信息文件
cluster-config-file nodes.conf
# 集群节点连接超时时间
cluster-node-timeout 15000
# 集群节点宿主机IP
cluster-announce-ip redis-6382
# 集群节点映射端口
cluster-announce-port 6382
# 集群节点总线端口
cluster-announce-bus-port 16382
